---
title: Hi Butler
---
<div class="intro">
	<p class="intro-dear">Dear hotel manager,</p>
	<p> Managing hotel it's<span id="rotate"> <span>waste of time.</span> <span>waste of energy.</span> Right ?</p>
	<%= image_tag "mockup.png", :class => "mockup centered" %>
	
</div> 
<div class="features">
	<div class="container">
	<div class="col-md-6">
		<div class="iphone-mockup">
			<%= image_tag "iphone-mockup.png", :class => "iphone" %>
		</div>
	</div>
	<div class="col-md-6">
		<div class="links">
		
			<div class="link-feature">
				<p class="feature-name">Feature name</p>
				<p class="feature-description">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam quo eius veritatis ducimus, 
				</p>
			</div>

		</div>
	</div>
		
	</div>
</div>
<div class="team">
	<div class="container">
		<div class="col-md-4">
		<div class="founder">
			<%= image_tag "louis.jpg", :class => "founder" %>
			<p class="founder-name">
				Louis Paquin
			</p>
			<p class="fonction">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae neque, eaque eum maxime nesciunt assumenda consequuntur officia a non doloribus possimus dolorem deserunt fugit numquam illo? Nobis odio, accusamus atque!</p>
			
		</div>
	</div>
	<div class="col-md-4">
		<div class="founder">
			<%= image_tag "maxime.jpg", :class => "founder" %>
			<p class="founder-name">
				Maxime Dupont
			</p>
			<p class="fonction">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, minima quia accusantium. Doloribus explicabo accusantium asperiores blanditiis fuga iusto officiis enim adipisci aperiam sunt ipsam, natus iste veritatis, aliquam nisi!</p>
			
		</div>
	</div>
	<div class="col-md-4">
		<div class="founder">
			<%= image_tag "kris.jpg", :class => "founder" %>
			<p class="founder-name">
				Kris Syska
			</p>
			<p class="fonction">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam vel iste repellendus officia illum delectus soluta nemo, impedit id blanditiis aspernatur dolor at eum nostrum ipsum nihil sapiente. Nam, quos.</p>
			
		</div>
	</div>
	</div>
</div>